$blue-background: #6d96c0;
$black_background: #121823;

$white: #fff;

$post_text_color: #8D9AA6;

$list_odd:#181d27;
$list_even:#131822;

$alternate_button: #6d96c0;
$alternate_button_font: #ffffff;
$area_background: #1a212d;
$area_background_dark: #1a212d;
$area_background_light: #121823;
$area_background_reset: #111824;
$body_font: default;
$button_bar: #1a212d;
$comment_count: #353c41;
$comment_count_font: #ffffff;
$enable_fluid_width: 0;
$featured: #d66723;
$fluid_width_size: 95;
$footer_text: #677585;
$header: #121823;
$headline_font: default;
$important_button: #6d96c0;
$important_button_font: #ffffff;
$item_status: #6d96c0;
$js_include: footer;
$light_button: #1a212d;
$light_button_font: #ffffff;
$link: #ffffff;
$link_button: #8d9aa6;
$link_hover: #ffffff;
$main_nav: #121823;
$main_nav_font: #ffffff;
$main_nav_tab: #1a212d;
$main_nav_tab_font: #ffffff;
$mentions: #6d96c0;
$mobile_back: #1a212d;
$mobile_back_font: #ffffff;
$moderated: #171d28;
$moderated_light: #171d28;
$moderated_text: #880e4f;
$moderated_text_light: #a4768f;
$normal_button: #6d96c0;
$normal_button_font: #ffffff;
$notification_bubble: #6d96c0;
$page_background: #121823;
$pagination_active: #6d96c0;
$poll_bar: #677585;
$post_highlight: #fffefa;
$post_highlight_border: #d0ad71;
$prefix: #b63f3f;
$price: #b63f3f;
$primary_button: #6d96c0;
$primary_button_font: #ffffff;
$profile_header: #1a212d;
$rating_hover: #3d6594;
$rating_on: #ff9800;
$responsive: 1;
$rounded_photos: 1;
$secondary_title: #1a212d;
$secondary_title_font: #ffffff;
$section_title: #1a212d;
$section_title_font: #ffffff;
$selected: #111111;
$sidebar_position: right;
$sidebar_responsive: 1;
$social_links: footer;
$step_background: #3d6594;
$tab_background: #1a212d;
$tag: #353c41;
$text_color: #8d9aa6;
$text_dark: #677585;
$text_light: #8d9aa6;
$timeline_color: #1a212d;
$trophy_first: #fac746;
$trophy_first_font: #704926;
$trophy_second: #c0c0c0;
$trophy_third: #cd7f32;
$very_light_button: #121823;
$very_light_button_font: #ffffff;
$widget_title_bar: #171d28;
$widget_title_font: #ffffff;
