@import '_variables';

.ipsApp .ipsNotificationCount,
.ipsBadge_positive,
.cStreamFilter > li > a.cStreamFilter_active,
.ipsTooltip,
.cProfileRepScore_positive,
.ui-datepicker-today,
.ipsComposeArea_editorPaste {
    background: $blue_background;
}

.ipsItemStatus.ipsItemStatus_large {
    background: $blue_background;

    &.ipsItemStatus_read {
        background: $blue_background;
    }
}

.cCalendar td.cCalendar_today,
.cCalendarWeek div.cCalendar_today,
.cGalleryExif_data li span,
.ipsTooltip {
    background: $blue_background;
}

#ipsMultiQuoter,
.ipsWidget_inner .ipsPad,
ul:not(.ipsMenu_keyNav) .ipsMenu_item:not(.ipsMenu_itemClicked):not(.ipsMenu_itemDisabled) a:not(.ipsMenu_itemInline):hover {
    background: $black_background;
}

.ipsMenu_item {
    &[data-selected] {
        a,
        span {
            background: $black_background;
        }
    }

    &.ipsMenu_hover {
        background: $black_background;
    }
}

.ipsCommentCount,
a:hover.ipsSideMenu_item,
.cPollVoteBar,
.commentContent,
.ipsMenu_headerBar,
.ipsMenu_footerBar,
.ipsDataList.ipsDataList_zebra
    .ipsDataItem:not(.ipsDataItem_selected):not(.ipsModerated):not(.ipsDataItem_new):not(.ipsDataItem_success):not(.ipsDataItem_warning):not(.ipsDataItem_error):not(.ipsDataItem_info):not(.ipsDataItem_status):nth-child(even),
.ipsTable_zebra tbody tr:nth-child(even):not(.ipsTable_highlight):not(.ipsModerated),
.cCalendar td.cCalendar_nonDate,
.ipsSticky,
.ipsImageAttach_thumb,
.ipsDialog_title,
.ipsDialog > div,
.cBestAnswerIndicator_off,
#elDownloadsSubmit .ipsAttachment_dropZone {
    background-color: $black_background;
}

.ipsMenu,
.ipsBox:not(.ipsBox_transparent):not(.ipsModerated),
.ipsEmbeddedOther,
.cStreamFilter,
#elSearchWrapper.cSearchExpanded,
.ipsTabs_panel,
#elProfileStats,
.ipsTable.ipsMatrix thead th,
.ipsPad,
.ipsSideMenu_item:not(.ipsSideMenu_itemActive) a:hover,
a.ipsSideMenu_item:not(.ipsSideMenu_itemActive):hover,
span.ipsSideMenu_item:not(.ipsSideMenu_itemActive):hover,
.ui-datepicker,
.cGalleryLightbox_info,
.ipsSelectTree_placeholder,
.ipsSelectTree_nodes,
.ipsSelectTree,
.ipsPageHead_barText,
.cke_wysiwyg_div,
#elLeaderboard_app,
#elLeaderboard_time {
    background: $background_alt;
}

.ipsNavBar_secondary,
.ipsDialog > div,
.ipsDrawer_list[data-action='back'] a,
.ipsComposeArea_dropZone,
.ipsTable th,
#elBlogHeaderStats {
    background: #1a212d;
}

.ipsImage[data-src]:not([data-loaded]),
.ipsComposeArea_editor,
.ipsComposeArea_dummy,
.ipsDrawer_menu,
.ipsDrawer_close {
    background: #131822;
}

.cMessage_active {
    background: $black_background !important;
}

.ipsType_pageTitle,
.ipsType_sectionHead {
    color: $white;
}

.ipsBreadcrumb > ul {
    li a,
    > li {
        color: $white;
    }
}

.ipsMenu_item > {
    a:not(.ipsMenu_itemInline),
    span:not(.ipsMenu_itemInline) {
        color: $white;
    }
}

.ipsPager_type {
    color: $white;
}

.ipsPager {
    .ipsPager_prev a::after,
    .ipsPager_next a::after,
    .ipsPager_prev a::after {
        color: $white;
    }
}

.cStreamFilter h3,
.ipsSideMenu_title,
.ipsType_pageTitle,
.ipsDialog_title,
.ipsDialog_close,
.ipsApp .ipsDataItem_selected,
.ipsTabs_activeItem:hover {
    color: $white;
}

.ipsStreamItem_snippet .ipsType_richText,
.ipsComposeArea_dummy {
    color: $post_text_color;
}

.ipsFieldRow_required {
    color: $blue_background;
}

.ipsTooltip {
    &.ipsTooltip_bottom::after {
        border-color: transparent transparent $blue_background transparent;
    }

    &.ipsTooltip_top::after {
        border-color: $blue_background transparent transparent transparent;
    }
}

.ipsApp .ipsButton_link {
    &.ipsFollow,
    &.ipsPromote {
        background: #1a212d;
        border: 1px solid $background_alt;
        color: #677585;
    }
}

html[dir='ltr'] .ipsFollow .ipsCommentCount::after {
    border-color: transparent $background_alt transparent transparent;
}

.ipsButtonBar .ipsButtonRow li > {
    a,
    button,
    span {
        background: $black_background;
        color: $white;
    }
}

.ipsMenu_title,
.ui-datepicker-header,
.ui-datepicker td a:hover,
.ipsButtonRow li {
    background: $black_background;
    color: $white;
}

.ipsFollow .ipsCommentCount {
    background: $background_alt;
    color: $white;
}

.ipsHovercard,
#elSearchExpanded,
.ipsAlert,
.ipsAttachLink[data-fileid]:not(.ipsAttachLink_image),
iframe[data-embedContent],
#elGallerySubmit_imageUploader .ipsAttachment_fileList .ipsImageAttach {
    background: #1a212d;
    border: 1px solid #1a212d;
    color: $light_button_font
}

iframe[data-embedContent].ipsEmbed_finishedLoading {
    background-color: #1a212d;
}

.ipsHovercard_stemTop .ipsHovercard_stem {
    border-color: #1a212d transparent transparent;

    &::before {
        border-color: #1a212d transparent transparent;
    }
}

.ipsHovercard_stemBottom .ipsHovercard_stem {
    border-color: transparent transparent #1a212d;

    &::before {
        border-color: transparent transparent #1a212d;
    }
}

#elSearchExpanded .ipsMenu_title {
    background: $black_background;
    border: 1px solid $black_background;
}

.ipsMenu {
    &.ipsMenu_bottomCenter {
        &::before,
        &::after {
            border-color: transparent transparent #1a212d;
        }
    }

    &.ipsMenu_bottomRight {
        &::before,
        &::after {
            border-color: transparent transparent #1a212d;
        }
    }

    &.ipsMenu_bottomLeft {
        &::before,
        &::after {
            border-color: transparent transparent #1a212d;
        }
    }

    &.ipsMenu_topCenter {
        &::before,
        &::after {
            border-color: #1a212d transparent transparent;
        }
    }

    &.ipsMenu_topRight {
        &::before,
        &::after {
            border-color: #1a212d transparent transparent;
        }
    }

    &.ipsMenu_topLeft {
        &::before,
        &::after {
            border-color: #1a212d transparent transparent;
        }
    }
}

html[dir='ltr'] {
    .ipsStream_withTimeline .ipsStreamItem {
        &.ipsStreamItem_contentBlock::before,
        &::after {
            border-color: transparent #1a212d transparent transparent;
        }
    }

    .ipsCommentCount::after {
        border-color: transparent $black_background transparent transparent;
    }

    .ipsComposeArea_withPhoto .ipsComposeArea_editor::before {
        border-color: transparent #131822 transparent transparent;
    }
}

.ui-datepicker th {
    background: #1a212d;
    color: $white;
    text-shadow: none;
}

.ipsPagination:not(.ipsPagination_mini) {
    .ipsPagination_last a,
    .ipsPagination_next a {
        background: #1a212d;
        color: $white;
        text-shadow: none;
    }
}

.ipsDataList_readStatus .ipsDataItem:not(.ipsDataItem_unread):not(.ipsDataItem_selected):not(.ipsModerated),
.ipsPagination.ipsPagination_mini a {
    background: #1a212d;
    color: $white;
    text-shadow: none;
}

.ipsButtonRow li > {
    a,
    button,
    span {
        background: #1a212d;
        color: $white;
        text-shadow: none;
    }
}

.ipsPagination:not(.ipsPagination_mini) {
    .ipsPagination_prev a,
    .ipsPagination_page a,
    .ipsPagination_first a {
        background: #1a212d;
        color: $white;
        text-shadow: none;
    }
}

.ipsSideMenu_itemActive a,
a.ipsSideMenu_itemActive,
span.ipsSideMenu_itemActive {
    background: #1a212d;
    color: $white;
    text-shadow: none;
}

.ipsSideMenu_withChecks .ipsSideMenu_item > input[type='checkbox']:checked ~ {
    a,
    span {
        background: #1a212d;
        color: $white;
        text-shadow: none;
    }
}

.ipsSideMenu_withRadios .ipsSideMenu_item > input[type='radio']:checked ~ {
    a,
    span {
        background: #1a212d;
        color: $white;
        text-shadow: none;
    }
}

.ipsDialog .ipsDialog_loading {
    background-color: #1a212d;
}

.ipsMenu_headerBar,
.ipsDrawer_itemParent > h4 {
    border-bottom: 1px solid #1a212d;
}

.ipsDrawer_list > li {
    > a:not(.ipsButton),
    &:not(.ipsDrawer_itemParent) > a:not(.ipsButton) {
        border-bottom: 1px solid #1a212d;
    }
}

.ipsDrawer_itemParent > h4 {
    border-top: 1px solid #131822;
}

.ipsDrawer_list > li {
    > a:not(.ipsButton),
    &:not(.ipsDrawer_itemParent) > a:not(.ipsButton) {
        border-top: 1px solid #131822;
    }
}

.ipsMenu_footerBar {
    border-top: 1px solid #1a212d;
}

.ipsTabs {
    border-top: 2px solid #1a212d;
}

.ipsMenu_sep,
.ipsComposeArea_attachments {
    border-top: 1px solid $black_background;
}

.ipsDataItem,
.ipsApp .ipsButton_veryLight {
    border-color: $black_background;
}

.ipsTabs_panels.ipsTabs_contained,
.ipsBox.ipsModerated,
.ipsTabs.ipsTabs_contained {
    border-color: #1a212d;
}

.ipsBox,
.ipsMenu,
.ipsStreamItem.ipsStreamItem_contentBlock {
    border: 1px solid #1a212d;
}

html[dir] .ipsButton_split > {
    .ipsButton.ipsButton_link,
    li > .ipsButton.ipsButton_link {
        border: 1px solid #1a212d;
    }
}

.cNexusPurchase .cNexusPurchase_image,
.ipsNoThumb {
    background: transparent;
    border: 1px solid #1a212d;
}

.ipsSelectTree {
    border: 1px solid $blue_background;
}

html[dir='ltr'] .cMessage_members > ol > li {
    border-right: 2px solid $black_background;
}

.ipsBadge_neutral,
.ipsBadge_style6 {
    background: $white;
    color: $black_background;
}

.ipsApp .ipsButtonBar .ipsPagination {
    .ipsPagination_page a,
    .ipsPagination_next a,
    .ipsPagination_prev a,
    .ipsPagination_first a,
    .ipsPagination_last a {
        background: #111824;
        color: $white;
        text-shadow: none;
    }
}

.ipsTabs_activeItem {
    background: #111824;
    color: $white;
    text-shadow: none;
}

html[dir='ltr'] .ipsReact_blurb:not(.ipsHide) + .ipsReact_types {
    border-left: 1px solid $black_background;
}

.ipsButtonBar .ipsPagination .ipsPagination_page.ipsPagination_active a,
.ipsPagination .ipsPagination_page.ipsPagination_active a,
.ipsTable.ipsMatrix .ipsMatrix_subHeader {
    background: $blue_background;
    color: $white;
}

.ipsComment:not(.ipsModerated) .ipsComment_header {
    background: #111824;
    border-top: 1px solid #111824;
}

.ipsItemStatus {
    width: 40px;

    &.ipsItemStatus_read {
        opacity: 0.1;
    }
}

.ipsRepBadge_positive {
    color: $blue_background !important;

    &:hover {
        color: $blue_background !important;
    }
}

.ipsCommentUnreadSeperator {
    border-color: $blue_background;
}

.ipsStream .ipsStreamItem_contentType {
    background: #1a212d;
    border: 2px solid #1a212d;
}

#elSearchExpanded .ipsSideMenu_list {
    background: #1a212d;
    border: 1px solid #1a212d;
}

.ipsReact_button {
    filter: opacity(0.3);
}

.ipsQuote {
    background: $background_alt;
    border-color: #677585;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.ipsQuote_citation {
    background: $background_alt;
    border-radius: 3px;
    color: #677585;
}

.ipsQuote .ipsQuote_citation a {
    color: #677585;
}

.ipsReact_reactCount {
    background: #111824;
    border: 1px solid #111824;

    > a > span {
        background: #111824;

        &:last-child {
            background: #111824;
            color: $white;
        }
    }
}

.ipsReact_types ul {
    background: #111824;
}

body {
    &.ipsApp_noTouch .ipsReact_types:hover .ipsReact_button,
    &:not(.ipsApp_noTouch) .ipsReact_types.ipsReact_types_active .ipsReact_button {
        background: #111824;
    }
}

.ipsReactOverview ul img {
    border: 2px solid #111824;
}

//.ipsDataItem_subList {
//    display: none;
//}

.ipsImage_thumbnailed {
    border: none;
}

.ipsCustomInput > span {
    background: #1a212d;
    border-color: $blue_background;
    opacity: 0.2;
}

.ipsApp {
    .ipsField_autocomplete,
    textarea {
        background: #131822;
        border: 1px solid $background_alt;
        color: #677585;
    }

    input {
        &[type='text'],
        &[type='password'],
        &[type='datetime'],
        &[type='datetime-local'],
        &[type='date'],
        &[type='month'],
        &[type='time'],
        &[type='week'],
        &[type='number'],
        &[type='email'],
        &[type='url'],
        &[type='search'],
        &[type='tel'] {
            background: #131822;
            border: 1px solid $background_alt;
            color: #677585;
        }
    }

    .ipsField_dummy {
        background: #131822;
        border: 1px solid $background_alt;
        color: #677585;
    }
}

.ipsTruncate + .ipsTruncate_more {
    color: #677585;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

body.unloaded #ipsEmbedLoading {
    background: transparent;
}

@keyframes dummy_anim {
    0% {
        background-color: #f8f8f8;
    }
    50% {
        background-color: #f2f2f2;
    }
    99% {
        background-color: #f8f8f8;
    }
}

@keyframes dummy_anim {
    0% {
        /* set the starting colour */
        background-color: $area_background_dark;
    }

    50% {
        /* slightly lighter/darker colour to create pulsing effect */
        background-color: #212a39;
    }

    99% {
        /* return to starting colour */
        background-color: $area_background_dark;
    }
}

.cForumRow {
    color: $text_color;

    &:nth-child(odd) {
        background: $list_odd;
    }

    &:nth-child(even) {
        background: $list_even;
    }
}

/***
 implements variables
***/
.ipsTabs:target [role='tablist'],
.ipsTabs.ipsTabs_showMenu [role='tablist'] {
    background: $white;
}

.ipsTable.ipsTable_responsive.ipsMatrix .ipsMatrix_subHeader {
    color: $white;
}

.ipsAttachments_list > li {
    background: $page_background;
}

body {
    color: $text_color;
    background-color: $page_background;
}

iframe[data-embedContent].ipsEmbed_finishedLoading {
    background-color: $page_background;
}

.ipsEmbedded_content {
    background-color: $page_background;
}

.ipsWidget.ipsWidget_vertical .ipsWidget_title,
.ipsWidget.ipsWidget_horizontal .ipsWidget_title {
    color: $section_title_font;
    background: $section_title;
}

.ipsType_sectionTitle {
    background: $section_title;
    color: $section_title_font;
}

.ipsType_secondaryTitle {
    background: $section_title;
    color: $section_title_font;
}

#elTopContributors_content .ipsPad_half,
#ipsLayout_header nav,
.ipsNavBar_primary:not(.ipsNavBar_noSubBars) > ul:before,
.ipsButtonBar, .ipsAreaBackground {
    background: $tab_background;
}

.ipsBreadcrumb [data-action='defaultStream'],
.ipsBreadcrumb [data-action='markSiteRead'],
#ipsLayout_footer a,
#ipsLayout_footer p,
.ipsType_richText,
.ipsWidget .ipsTabs_small .ipsTabs_item:not(.ipsTabs_activeItem),
.ipsNavBar_primary > ul > li.ipsNavBar_active > a,
.ipsNavBar_secondary > li > a {
    color: $text_color;
}

.ipsNavBar_secondary > li > a:hover {
    color: $text_dark;
}
iframe[data-embedContent].ipsEmbed_finishedLoading {
    border: 1px solid $post_highlight_border;
}

.ipsAttachLink_block {
    border: 1px solid $post_highlight_border;
    .ipsAttachLink_title, .ipsAttachLink[data-fileid]:not(.ipsAttachLink_image) {
        color: $text_color;
    }
}

@media screen and (max-width:767px) {
    .cPost.ipsComment:not( .ipsComment_selected):not( .ipsModerated) .cAuthorPane {
        background: $area_background_light;
    }
}

.ipsGiphy_thumb, .ipsAreaBackground_light, .ipsMap, .ipsStream_comment {
    background: $area_background_light;
}

html[dir="ltr"] .ipsStream_comment:before {
    left: 0;
    border-color: transparent $area_background_light transparent transparent;
}

html[dir="rtl"] .ipsStream_comment:before {
    right: 0;
    border-color: transparent transparent transparent $area_background_light;
}

#elProfileTabs_content {
    background: $background_alt;
}

font, span{
    &[color="#000000"], &[color="black"], &[style="color:#000000;"] {
        background: $white !important;
    }
}
